
<!--Center (Share Tasks)-->
<div id="logbox">
    <form name="addFriendForm" ng-submit="inviteFriendForm(addFriendForm.$valid)" novalidate>
        <h2 align="center" class="open-close" data-toggle="collapse" data-target="#open-close-div">add a friend to share tasks with! <span class="glyphicon glyphicon-resize-vertical"></span></h2>
        <div class="collapse" id="open-close-div">
            <input name="email" ng-maxlength="250" type="email" placeholder="enter email" class="input pass form-control" ng-model="email" required/>
            <p align="center" ng-show="(addFriendForm.email.$invalid && !addFriendForm.email.$pristine) || addFriendForm.email.$error.required" class="help-block">invalid email</p>
            <p align="center" ng-show="addFriendForm.email.$error.maxlength" class="help-block">email is too long</p>
            <input type="submit" value="Send request!" class="inputButton" ng-disabled="addFriendForm.$invalid"/>
        </div>
    </form>
</div>
    
<div id="logbox" class="friends-div" ng-hide="!friendRequests.length">
    <h2 align="center">current requests</h2>
    <div class="request_div" ng-repeat="request in friendRequests" friend-request-directive>
        <input type="text" class="request_email" value="From: {{request.user_name}}"readonly/>
        <input type="button" class="request_accept request_button " value="Accept Request" data-accept-request-id="{{request.invite_id}}"/>
        <input type="button" class="request_cancel request_button" value="Reject" data-reject-request-id="{{request.invite_id}}"/>
    </div>
</div>


<div id="logbox" class="friends-div" ng-hide="!friends.length">
    <h2 align="center" class="">your friends :)</h2>
    <div class="" ng-repeat="friend in friends" friend-remove-directive> 
        <input type="text" class="share-tasks-friend-name" value="{{friend.name}}" readonly/>
        <input type="button" class="share-tasks-friend-remove" value="Remove" data-remove-friend-id="{{friend.id}}"/>
    </div>
</div>



<!--Share-Page handler-->
<script src="home-tasks/home-tasks.handler.js"></script>
